.block1 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    margin: 10px;
}
.block2 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(0, 0, 0);
    margin: 10px;
    z-index: 1; /*У блока самый высокий приоритет, значит он и будет виден*/
}
.block3 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(3, 244, 39);
    margin: 10px;
}